.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.controlList {
  list-style-type: none;
  padding: 10px;
  margin: 0px;
}

.controlWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #85ceff;
  gap: 10px;
  bottom: 0;
  left: 0;
}

.title {
  margin: 0;
}

.controlBoard {
  filter: drop-shadow(20px 10px 4px rgb(87, 86, 86));
  border: 1px solid black;
  border-radius: 25px;
  position: relative;
  left: 10px;
  bottom: 10px;
  transition: opacity 0.25s;
  padding: 25px 10px;
  width: 250px;
  background-color: #1c2333;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1 1 100px;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 100px;
}

.infoPanel {
  opacity: 0;
  transition: opacity 0.25s;
  display: flex;
  flex-direction: column;
  color: #85ceff;
  background-color: #1c2333;
  padding: 15px;
  width: 150px;
  border-radius: 25px;
}

.input {
  display: flex;
}

.tab {
  user-select: none;
  text-align: center;
  cursor: pointer;
  position: relative;
  left: 25px;
  bottom: 25px;
  font-size: 20px;
  border-radius: 100%;
  padding: 15px;
  line-height: 15px;
  height: 50px;
  width: 50px;
  background-color: #1c2333;
  transition: background-color 0.5s, transform 0.5s;
}

.tab:hover {
  background-color: rgb(54, 68, 99);
  transform: translateY(-5px);
}

.messages {
  position: absolute;
  right: 15px;
  bottom: 15px;
  opacity: 0;
  color: #85ceff;
  padding: 0 10px;
  border-radius: 25px;
  background-color: #1c2333;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation-fill-mode: forwards;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  10%,
  90% {
    transform: translate3d(-1px);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
